---
import { type Playlist } from "@lib/data";
import { CardPlayButton } from "@components/CardPlayButton";

interface Props {
  playlist: Playlist;
}

const {
  playlist: { id, title, artists, cover },
} = Astro.props;

const artistString = artists.join(", ");
---

<article
  class="flex group relative rounded-md bg-zinc-500/30 hover:bg-[#f6f6f6]/30 shadow-lg hover:shadow-xl transition-all duration-500"
>
  <div
    class="absolute right-4 top-28 translate-y-4 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 z-10"
  >
    <CardPlayButton
      transition:name=`playlist ${id} button`
      id={id}
      client:load
    />
  </div>
  <a
    class="flex flex-col playlist-item relative p-2 overflow-hidden gap-2 w-44"
    href=`playlist/${id}`
    transition:name=`playlist ${id} box`
  >
    <picture class="aspect-square w-full h-auto flex-none rounded-md">
      <img
        src=`${cover}`
        alt=`Cover of ${title} by ${artistString}`
        class="object-cover w-full h-full rounded-md"
        transition:name=`playlist ${id} image`
      />
    </picture>
    <div class="flex flex-auto flex-col px-2">
      <h4
        class="font-semibold line-clamp-1"
        transition:name=`playlist ${id} title`
      >
        {title}
      </h4>
      <span
        class="font-extralight text-sm text-gray-400 line-clamp-2"
        transition:name=`playlist ${id} artists`>{artistString}</span
      >
    </div>
  </a>
</article>
